#exercice2
  height: 80vh;
  width: 100vw;
  display: flex;


  .content
    border: 1px solid var(--grey-light)
    width: 75%;
    margin: auto;

    .filters
      border: 1px solid red
      display: flex
      justify-content: space-between

      > div
        display: flex

      .left-container
        // display: flex

        .dropdown
          border: 1px solid grey

    .grid-container
      display: flex
      flex-wrap: wrap
      justify-content: space-between

      .card
        flex: 0 0 33%
        border: 1px solid red;
        padding: 10px

        img
          width: 100%
        .title
          font-size: 20px
        .meta
          font-size: 14px

.padded
  padding: 15px

.gap
  gap: 10px









  
