
:root {
  --grey-light: #DEDEDE;
  --grey-button-bg: #F9F9F9;
  --grey-font: #888888;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Montserrat', sans-serif;
}

.exercise-header {
  padding: 1rem 0;
  margin: 2rem 0;
  text-align: center;
  color: #fff;
  background-color: #00a4bd;
}

input[type='text'],
input[type='radio'],
input[type='checkbox'] {
  height: 100%;
  border: 1px solid var(--grey-light);
}

