
:root {
  --grey-light: #DEDEDE;
  --grey-button-bg: #F9F9F9;
  --grey-font: #888888;
  --blue-link: #0A91B9;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Montserrat', sans-serif;
  color: var(--grey-font);
}

.exercise-header {
  padding: 1rem 0;
  margin: 2rem 0;
  text-align: center;
  color: #fff;
  background-color: #00a4bd;
}

input[type='text'],
input[type='checkbox'] {
  height: 100%;
  border: 1px solid var(--grey-light);
  padding: 3px 10px;
  color: var(--grey-font);
}
label{
  color: var(--grey-font);
  margin-left: 10px;
  font-weight: 700;
}
.padded {
  padding: 15px;
}

.gap {
  gap: 10px;
}

.btn-link {
  color: var(--blue-link);
  text-transform: uppercase;
  text-decoration: underline;
  background: none;
  border: none;
  font-weight: 700;
  cursor: pointer;
}