<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">

  <title>Candidate Exercise</title>
</head>

<body>
  <div class="exercise-header">
    <h2>Exercise 1 - Testimonial Block</h2>
  </div>

  <div>
    <div>
      <div>
        <p>Gingerbread tart cupcake cake muffin cookie liquorice tiramisu. Toffee cupcake cake cake croissant icing carrot cake cookie. Dessert chocolate bar apple pie sesame snaps liquorice carrot cake cookie danish.</p>
        <span>Indiana Jones, Archaeologist</span>
      </div>
      <a>Tell Me More</a>
    </div>
  </div>

  <div class="exercise-header">
    <h2>Exercise 2 - Filterable Content</h2>
  </div>

  <div id="exercice2">
    <div class="content">
      <!-- section1 -->
      <div class="filters padded">
        <div class="left-container gap">
          <div class="dropdown">Genre</div>
          <div class="dropdown">Year</div>
        </div>
        <div class="searchbox">
          <input type="text" />
        </div>
      </div>
      <!-- section2 -->
      <div class="filters padded">
        <div class="left-container">
          <div>
            <input
              type="radio"
              id="type-movie"
              name="type"
              value="movie"
            >
            <label for="type-movie">Movie</label>
            <input
              type="radio"
              id="type-book"
              name="type"
              value="book"
            >
            <label for="type-book">Books</label>
        
          </div>
        </div>
        <div>
          clear filter
        </div>
      </div>
      <!-- grid items -->
      <div class="grid-container">
        <div class="card">
          <div class="img-container">
            <img src="https://ia.media-imdb.com/images/M/MV5BMTc0NDQzNTA2Ml5BMl5BanBnXkFtZTcwNzI2OTQzMw@@._V1_.jpg" alt="...">
          </div>
          <div class="title">perdator</div>
          <div class="meta">2012 comedie</div>
        </div>
        <div class="card">
          <div class="img-container">
            <img src="https://ia.media-imdb.com/images/M/MV5BMTc0NDQzNTA2Ml5BMl5BanBnXkFtZTcwNzI2OTQzMw@@._V1_.jpg" alt="...">
          </div>
          <div class="title">perdator</div>
          <div class="meta">2012 comedie Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus necessitatibus harum omnis ea quis, asperiores eos provident blanditiis est nam quas neque! Nisi nihil vero totam, ipsum provident enim temporibus.</div>
        </div>
        <div class="card">
          <div class="img-container">
            <img src="https://ia.media-imdb.com/images/M/MV5BMTc0NDQzNTA2Ml5BMl5BanBnXkFtZTcwNzI2OTQzMw@@._V1_.jpg" alt="...">
          </div>
          <div class="title">perdator</div>
          <div class="meta">2012 comedie</div>
        </div>
        <div class="card">
          <div class="img-container">
            <img src="https://ia.media-imdb.com/images/M/MV5BMTc0NDQzNTA2Ml5BMl5BanBnXkFtZTcwNzI2OTQzMw@@._V1_.jpg" alt="...">
          </div>
          <div class="title">perdator</div>
          <div class="meta">2012 comedie</div>
        </div>
      </div>
    </div>
  </div>

</body>

<footer>
  <script type="module" src="../js/index.js"></script>
</footer>
</html>
